body {
    font-family: Arial, sans-serif;
}

footer {
    background-color: #f1f1f1;
    padding: 15px 0;
}

.navbar {
    margin-bottom: 30px;
}

.department {
    margin-bottom: 30px;
}

    .department img {
        max-width: 300px;
        height: auto;
    }
